		button {
                        color: #ffffff;
                        background-color: #5c3f5d;
                        font-size: 14px;
                        border: 0px solid #5c3f5d;
                        border-radius: 45px;
                        cursor: crosshair;
                }
                button:hover {
                        color: #aca0f7;
                        background-color: #5c3f5d;
                }
		input {
			color: #ffffff;
                        background-color: #5c3f5d;
                        font-size: 14px;
                        border: 0px groove #5c3f5d;
                        border-radius: 45px;
                        cursor: crosshair;
			padding: 3px;
		}
		input::file-selector-button {
			color: #ffffff;
                        background-color: #5c3f5d;
			border: 1px solid #5c3f5d;
                        font-size: 14px;
			padding: 3px;
		}
		input::file-selector-button:hover {
                        color: #aca0f7;
                        background-color: #5c3f5d;
		}
		input:hover {
                        color: #aca0f7;
                        background-color: #5c3f5d;
		}                
		body {
                        background-color: #d1a038;
                        background-image: linear-gradient(to bottom, #3868d1, #9b38d1, #d1385c, #3868d1)
                }
